.bgimg{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(3.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	width:100%;
	height:650px;
}
.headerset
{
	padding-top:250px;
}
.headerset h2
{
	font-size:55px;
}
.headerset h1{
		font-size:65px;
		font-weight:bold;
}
.ourservices{
	padding-top:100px;
	padding-bottom:60px;
	height:700px;
}
.ourservices h1{
	font-size:50px;
	font-weight:bold;
}
.rowsetting{
	margin-top:80px;
	margin-bottom:0px;
}
.imgsetting{
	border-radius:50%;
	height:100px;
	width:100px;
}
.fa-shopping-cart{
	margin-top:25px;
}
.fa-desktop{margin-top:25px;}
.fa-lock{margin-top:25px;}
.rowsetting p{padding:10px; color:#6c757d;}
.rowsetting h2{
	margin-top:20px;
	font-weight:bold;
	font-size:30px;
}
.portfolio{
	height:1100px;
	width:100%;
	padding:100px 0px 50px;
}
.portfolio h1{
	font-size:50px;
	font-weight:bold;
}
.card{
	margin-top:40px;
}
.ourteam{
	height:700px;
	padding:100px 0px 60px;
	width:100px;
}
.ourteam h1{
	font-size:50px;
	font-weight:bold;
}
.teamsetting{
	margin-top:70px !important;
	
}
.footer{
	height:50px;
	
}
.footer h6{
	line-height:50px;
}
//media queries

@media(min-width:992px){
	
}
@media(min-width:768px)and (max-width:991px){
	.headerset h2
{
	font-size:42px;
}
.headerset h1{
		font-size:72px;
		font-weight:bold;
}
}
.navbar-nav{
	font-size:25px;
	margin-right:5px;
}
.nav-link{
	margin-left:20px;
}
.btn{
	margin-top:20px;
}
.content
{
	animation:contentchange .5s infinite;
}
@keyframes contentchange
{
	0%{color:red;}
	25%{color:white;}
	50%{color:yellow;}
	100%{color:pink;}
}
@media(min-width:575px)and (max-width:767px){
}
@media(min-width:460px)and (max-width:574px){
}
@media(max-width:479px){
.headerset h2
{
	font-size:28px;
}
.headerset h1{
		font-size:42px;
		font-weight:bold;
}
.ourservices{
	height:1100px;
}
.portfolio{
	height:2500px;
}
.ourteam{
	height:1400px;
}
.logo{
	height:50px;
	width:120px;
}
}